/* === General Reset & Page Styling === */
body {
    background-image: url(images/MidnightCity.png);
    background-position: center;
    background-size: 1920px 1080px;
    color: #d9d9d9; /* grey text */
    font-family: 'Courier New', serif;
    margin-right: 150px;
    margin-left: 150px;
    padding: 20px;
}

/* === Headings === */
h1, h2, h4 {
    font-family: 'Proxima Nova', sans-serif;
    color: #d9d9d9;
    font-size: large;
}

h3 {
    font-family: 'Proxima Nova', sans-serif;
    color: #d9d9d9; 
}

/* === Navbar ===*/
.navbar {
    background-color: #1c1c1cf3; /* dark grey */
    font-family: 'Proxima Nova', sans-serif;
    padding: 10px 20px;
    display: flex;
    gap: 30px;
    border-radius: 10px;
}    

.navbar a{
    color: #d9d9d9;
    text-decoration: none;
    font-weight: bold;
    font-size: large;
}

.navbar a:hover{
    color: #a52020; /* red on hover */
}

/* === Container Class === */
.container {
    background-color: #1c1c1cbd;
    padding: 20px;
    margin: 20px 0;
    border-radius: 10px;
}

.container2 {
    background-color: #1c1c1ce2;
    padding: 20px;
    margin: 20px 0;
    border-radius: 10px;

}

.container3 {
    background-color: #1c1c1cf2;
    padding: 20px;
    margin: 20px 0;
    border-radius: 10px;

}
  
/* === Album Flexbox Section === */
.flexbox-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-evenly;
    margin-top: 20px;
}
  
.card {
    background-color: #000000;
    color: #d9d9d9;
    padding: 15px;
    border-radius: 10px;
    text-align: center;
    max-width: 200px;
    flex: 1;
    font-weight: bold;
}
  
img {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 8px;
    min-width: none;
    max-width: none;
}

/* === ID customization === */

#Crimson {
    color: #e72020;
}

#Timely {
    color: #348dec;
}

#Midnight {
    color: #19c734;
}

/* === Button Customization === */
#alertMe {
    background-color: #a52020;
    color: white;
    border: none;
    padding: 5px 10px;
    font-size: small;
    font-family: 'Courier New', Courier, monospace;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
  
#alertMe:hover {
    background-color: #6f1616; /* darker red on hover */
}

#hoverButton {
    background-color: #3171b5;
    color: white;
    border: none;
    padding: 5px 10px;
    font-size: small;
    font-family: 'Courier New', Courier, monospace;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#hoverButton:hover {
    animation: pulse 1s infinite; /* Pulse animation on hover */
}
  
@keyframes pulse {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.1); /* Max size */
    }
    100% {
      transform: scale(1);
    }
}

#buttonCounter {
    background-color: #17b12f;
    color: white;
    border: none;
    padding: 5px 10px;
    font-size: small;
    font-family: 'Courier New', Courier, monospace;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}